<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>安金普惠</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- CSS Bootstrap-->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">
<script src="/plugins/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script src="/plugins/jquery/cookie/jquery.cookie.js"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/plugins/i18n/jquery.i18n.properties.js" type="text/javascript"></script>
<script src="/plugins/i18n/language.extensions.js" type="text/javascript"></script>
<script src="/plugins/jquery/myJqueryPlugins/myJqueryPlugins.js" type="text/javascript"></script>
